/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

// Site-wide variables
$primary_color: #333A56;
$base_font_size: 20px;

// Site-wide function
@function px-to-em($target,$context:$base_font_size) {
  @return ($target / $context) * 1em;
}


// @function typographic_scale($ratio,$interval,$base:$base_font_size) {
//  @return  $base * ($ratio ^ $interval) * 1px;
// }
/* Base Styles (HTML Selectors) */


html {
  font-size: px-to-em($base_font_size,16px); /* 20 / 16 = 1.25 */
  color: $primary_color;
  line-height: px_to_em(24px);
  font: 100% Helvetica, sans-serif;
  background-color: #F7F5E6;
}
h1 {
  font-size: px-to-em(35px);
  line-height: px_to_em(38px, 35px);
  padding: 0;
}
h3 {
  font-size: px-to-em(22px);
  line-height: px_to_em(22px, 24px);
  font-weight: bold;
  color: #333A56;
  padding-top: 1em;
}
ul {
  margin: 0.5em;
  padding: 1em;
  list-style: none;
}

li { display: inline-block;
  color: #F7F5E6;
    background-color: #333A56;
      border-radius: 1em;
      margin: 0.5em;
      width: 100%;
    box-sizing: border-box;
 }

a {
  display: block;
  padding: 3px 9px;
  text-decoration: none;
  color: #ffffff;
}
footer {
  font-size: px-to-em(14px);
  padding-top: 2em;
}



/* Layout Styles (Usually Landmark ID Selectors) */

/* Modular Styles (Repeating Class Selectors) */

 /* State Styles (JavaScript-Dependent Styles, Media Queries) */
